.reviews {
	padding: 10px;
}

.title {
	margin-bottom: 10px;
}

.review {
	margin-bottom: 10px;
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 4px;
}

.reviewer {
	display: flex;
	justify-content: space-between;
	margin-bottom: 5px;
}

.reviewer span:first-child {
	font-weight: bold;
}
