.modalContent {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: white;
	padding: 20px;
	border-radius: 5px;
	outline: none;
	width: 80%;
	height: 80%;
	overflow-y: auto;
}

.closeButton {
	position: absolute;
	top: 10px;
	right: 10px;
	background: none;
	border: none;
	font-size: 20px;
	cursor: pointer;
	padding: 4px;
	color: #333;
}

.closeButton:hover {
	color: #000;
}

.tabs {
	display: flex;
	gap: 18px;
	border-top: 1px solid var(--color-border);
	padding-top: 8px;
}
.toggleButton {
	background-color: transparent;
	color: var(--color-text);
	border: none;
	padding: 8px 16px;
	cursor: pointer;
	border-radius: 40px;
	transition: color 0.3s;
}

.toggleButton:hover {
	color: var(--color-button-hover);
}
