.IconDetails {
	width: 20px;
	height: 20px;
	fill: transparent;
	stroke: var(--color-icon);
}
.container {
	display: flex;
	flex-direction: column;
}

.details {
	display: flex;
	flex-wrap: wrap;
	gap: 8px;
	margin-bottom: 8px;
}

.description {
	font-size: 14px;
	color: #555;
	margin-bottom: 16px;
}

.IconDetails {
	margin-right: 4px;
}

.details span {
	display: flex;
	align-items: center;
	font-size: 14px;
	color: #333;
}
