.camperCard {
	display: flex;
	flex-direction: row;
}

.image {
	margin-right: 1rem;
	object-fit: cover;
}
.button {
	cursor: pointer;
	background-color: transparent;
	border: none;
}
.IconHeart {
	width: 20px;
	height: 20px;
	fill: transparent;
	stroke: red;
	fill: var(--color-button);
}

.IconHeart:hover {
	fill: var(--color-button-hover);
}

.IconHeart1 {
	width: 20px;
	height: 20px;
	fill: transparent;
	stroke: var(--color-icon);
}
.IconHeart1:hover {
	/* fill: var(--color-button-hover); */
	stroke: var(--color-button-hover);
}

.camperCard {
	display: flex;
	border: 1px solid #ddd;
	border-radius: 8px;
	overflow: hidden;
	margin-bottom: 16px;
	background-color: #fff;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.image {
	width: 200px;
	height: auto;
}

.card {
	flex: 1;
	padding: 16px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.buttonContainer {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.button {
	background-color: transparent;
	border: none;
	cursor: pointer;
}

.buttonShowMore {
	background-color: #ff5a5f;
	color: white;
	padding: 8px 16px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	font-size: 14px;
	font-weight: bold;
}

.buttonShowMore:hover {
	background-color: #e14c4f;
}
