:root {
	--color-white: rgb(255, 255, 255);
	--color-gray: rgb(247, 247, 247);
	--color-black: rgb(0, 0, 0);

	--color-text: rgb(16, 24, 40);
	--color-text-secondary: rgba(16, 24, 40, 0.6);
	--color-text-light: rgb(71, 84, 103);

	--color-icon: rgb(16, 24, 40);

	--color-border: rgba(16, 24, 40, 0.125);
	--color-border-hover: rgb(216, 67, 67);

	--color-button: rgb(228, 72, 72);
	--color-button-hover: rgb(216, 67, 67);
}

/* Reset styles */
h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
}

p:last-child {
	margin-bottom: 0;
}

ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

a {
	color: currentColor;
	text-decoration: none;
}

button {
	cursor: pointer;
}

img {
	display: block;
	max-width: 100%;
	height: auto;
}

select {
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	border: none;
	outline: none;
}
.icon {
	width: 16px;
	height: 16px;
	vertical-align: -0.15em;
	fill: currentColor;
	overflow: hidden;
}
