@import './styles/reset.css';

:root {
	--color-white: rgb(255, 255, 255);
	--color-gray: rgb(247, 247, 247);
	--color-black: rgb(0, 0, 0);

	--color-text: rgb(16, 24, 40);
	--color-text-secondary: rgba(16, 24, 40, 0.6);
	--color-text-light: rgb(71, 84, 103);

	--color-icon: rgb(16, 24, 40);

	--color-background-icon: #10182810;

	--color-background-input: #10182810;

	--color-border: rgba(16, 24, 40, 0.125);
	--color-border-hover: rgb(216, 67, 67);

	--color-button: rgb(228, 72, 72);
	--color-button-hover: rgb(216, 67, 67);
}

@font-face {
	font-family: 'Inter-Medium';
	src: url('../fonds/Inter-Medium.ttf');
	font-weight: 500;
}
@font-face {
	font-family: 'Inter-Regular';
	src: url('../fonds/Inter-Regular.ttf');
	font-weight: 400;
}
@font-face {
	font-family: 'Inter-SemiBold';
	src: url('../fonds/Inter-SemiBold.ttf');
	font-weight: 600;
	font-style: normal;
}

body {
	font-family: 'Inter-Regular', sans-serif;
	color: var(--color-text);
}
