/* HomePage.module.css */

.container {
	max-width: 800px;
	margin: 0 auto;
	padding: 20px;
}

.title {
	font-size: 2rem;
	color: var(--color-text);
	text-align: center;
	margin-bottom: 20px;
}

.description {
	font-size: 1.2rem;
	color: var(--color-text-secondary);
	text-align: center;
	margin-bottom: 30px;
}

.buttonContainer {
	text-align: center;
	margin-bottom: 30px;
}

.buttonContainer button {
	width: 172px;
	height: 58px;
	padding: 10px 20px;
	font-size: 1rem;
	background-color: var(--color-button);
	color: var(--color-white);
	border: none;
	border-radius: 40px;
	cursor: pointer;
	transition: background-color 0.3s ease;
}

.buttonContainer button:hover {
	background-color: var(--color-button-hover);
}

.buttonContainer a {
	text-decoration: none;
	color: inherit;
}
